mixin blog-item(item)
    .section-4__blog-item 
                    a(href="#")
                        .section-4__image 
                            img(src=item.img alt="")
                        .section-4__content
                            .section-4__tag Kiến thức thú cưng
                            h3.section-4__title #{item.title}
                            p.section-4__desc #{item.desc}